.container    
    #header.header
        nav#nav
            ul.nav.navbar-nav.navbar
                li
                    a(href="/") Home
                li
                    a(href="about") About
                li
                    a(href="services") Services
                li
                    a(href="contacts") Contacts
                