extends layout

block content
    .container
      #home.scrollto
      #about.scrollto
      #services.scrollto
      #contact.scrollto
      .container
          h1= title
          p #{title} is the project site for Jonathan Wong.
