extends layout

block content
    .container
      #home.scrollto
      #about.scrollto
      #services.scrollto
      #contact.scrollto
      .container
          h1= title
          p #{title} is the project site for Jonathan Wong.
          ul
            li Node.js/Express - 
                a(href='/') Folio
            li php - 
                a(href='http://php-dyncontent.rhcloud.com/styxs.html') styxs
            li python/scraping - 
                a(href='https://github.com/JonW27/dictionary') dictionarypy
            li nlogo - 
                a(href='https://github.com/JonW27/defhacks') Javac
            li applescript - 
                a(href='http://jonw27.github.io/rooter') Rooter
